<title>Toxic Text AI Analyzer</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<!--sign in with google-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="1097118989823-a3np7gg8nridv2aqratphesu0e9v0ka9.apps.googleusercontent.com">
