<div>
    <% if (locals.userText) {
        %><h2>Saved Text</h2><%
    } else {
        %><h2>Examples</h2><%
    }%>
    <%
    if(locals.textBlocks) {%>
        <%for (var i = 0; i < textBlocks.length; i++) { %>
            <div>
                <span><%
                        let output = ""
                     if (textBlocks[i].text. length > 40) {
                         output = textBlocks[i].text.substring(0,40) + "...";
                     } else {
                         output = textBlocks[i].text;
                     }%><%= output%></span>
                <button type="button" name="insertText"
                        onclick="insertTextToTextArea('<%=textBlocks[i].text%>')">
                    View/Edit
                </button>
                <% if(locals.userText) {%>
                    <button type="button" name="deleteText"  value="<% textBlocks[i].id %>" onclick="deleteText()">
                        Delete
                    </button>
                <%}%>
            </div>
        <% }
    } %>
</div>
