<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postage Calculator: Results</title>
</head>
<body>
<h1>Postage Calculator: Results</h1>
<p>Your shipment will cost $<%= cost.toFixed(2) %></p>
</body>