<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<script>
    let googleUser = {};
    let auth2 = {};
    let startApp = function() {
        gapi.load('auth2', function(){
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '1097118989823-a3np7gg8nridv2aqratphesu0e9v0ka9.apps.googleusercontent.com',
            });
            auth2.attachClickHandler('signInBtn', {
                prompt: "select_account",
                ux_mode: "popup"
            }, onSignIn, function(error) {
                console.log(JSON.stringify(error, undefined, 2));
            });
        });
    };

    let profile;
    let idToken;

    function getGuesses() {
        $('#guesses').html("<div class='m-2 p-2 text-light rounded bg-secondary'> Analyzing...</div>");
        $.get("/getGuessesDiv", $('#form').serialize(), function (data) {
            $('#guesses').html(data);
        })
    }

    function insertTextToTextArea(text) {
        $('#editTextBox').val(text);
    }

    function onSignIn(googleUser) {
        $(".signedIn").show();
        $(".signedOut").hide();
        idToken = googleUser.getAuthResponse().id_token;
        $.post('/signIn', {idToken: idToken}, (data) => {
            console.log("onSignIn again");
            $('#userTextBlocks').html(data);
        })
    }

    function signOut() {
        $(".signedIn").hide();
        $(".signedOut").show();
        let auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
            $('#userTextBlocks').html('');
        });
    }

    function saveTextBlock() {
        // todo: see if user signed in
        // if (!signedIn) {
        //     return;
        // }

        let textBlockSaveObject = {
            idToken: idToken,
            title: "Placeholder title",
            textBlock: $("#editTextBox").val()
        }
        console.log(textBlockSaveObject);
        $.post('/saveBlock', textBlockSaveObject, (data) => {
            console.log(data);
            $('#userTextBlocks').html(data);
        })
    }

    function deleteText(element, id) {
        // todo: see if user signed in
        // if (!signedIn) {
        //     return;
        // }

        let textBlockSaveObject = {
            idToken: idToken,
            textBlockId: id
        }
        console.log(textBlockSaveObject);
        $.post('/deleteBlock', textBlockSaveObject, (data) => {
            console.log(data);
            $('#userTextBlocks').html(data);
        })
    }

</script>

<div class="container">
    <% include ../partials/nav.ejs %>
    <div class="p-2 d-flex flex-wrap justify-content-end bg-dark text-light rounded">
        <div class="p-2 flex-grow-1">
            <form id="form">
                <div class="d-flex">
                    <div class="pr-2 my-auto"><h5 class="mb-0">Text to analyze: </h5></div>
                    <div class="pl-2 flex-grow-1"><textarea id='editTextBox' class="form-control"
                                                            name="text"></textarea></div>
                </div>
            </form>
        </div>
        <div class="p-2 my-auto">
            <button class="btn btn-sm btn-outline-light signedIn" onclick="saveTextBlock()">Save</button>
            <button class="ml-1 btn btn-sm btn-outline-light" onclick="getGuesses()">Analyze</button>
        </div>
    </div>
    <div id="guesses" class="rounded"></div>

    <div id="userTextBlocks" class="bg-primary m-2 text-light rounded"></div>
    <div id="exampleTextBlocks" class="bg-primary m-2 text-light rounded">
        <% include ../partials/textBlocksListDiv.ejs %>
    </div>

</div>
<script>
    startApp();
</script>
</body>
</html>
