<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<h1>AI Text Toxicity Analyzer</h1>

<% //include ../partials/nav.ejs   %>
<form id="form">
    <label for="editTextBox">Text to analyze: </label><br>
    <textarea id='editTextBox' name="text">
  </textarea>
</form>
<button onclick="getGuesses()">analyze</button>

<div id="guesses"></div>

<% include ../partials/textBlocksListDiv.ejs %>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<button onclick="signOut();">Sign out</button>


<script>
    let profile;

    function getGuesses() {
        $('#guesses').html("Analysing...");
        $.get("/getGuessesDiv", $('#form').serialize(), function (data) {
            $('#guesses').html(data);
        })
    }

    function insertTextToTextArea(text) {
        $('#editTextBox').val(text);
    }

    function onSignIn(googleUser) {
        profile = googleUser.getBasicProfile();
        let idToken = googleUser.getAuthResponse().id_token;
        $.post('/signIn', { idToken: idToken }, (data) => {
            //initialize session
        } )
    }
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

</script>

</body>
</html>
